    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="padding-bottom: 250px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hello</h2>
                <div style="text-align: left">
                <img src="/img/logo.jpg" width="200" style="float: left; margin: 10px 15px 15px 0px; border-radius: 15px;" />
                <p>
                Kina is a human walking the line between new technology and old knowledge. He grew up on a homestead in remote Alaska and has a Masters degree from ITP, a prestigious art and technology school in New York City. He has done a diverse range of work in his travelings. From installing toilets, to developing wireless sensor networks. Building bicycles or prototyping circuit boards, he is at home working with his hands. He currently lives in Fairbanks, Alaska, where he is available for hire. 
                </p>
                </div>


            </div>
        </div>
    </section>