    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="padding-bottom: 100px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hello</h2>
                <div style="text-align: left">
                <img src="/img/logo.jpg" width="200" style="float: left; margin: 10px 25px 125px 0px; border-radius: 15px;" />
                <p>
                I tread the line between technology and craft. I am suspicious of the new, but cannot help by be drawn to it. I grew up on a homestead in remote Alaska and also have a Masters degree from ITP, a prestigious art and technology program in New York City. I know how to skin an animal and tan a hide, and know 3d printing and circuit design. I've been a janitor, and a bicycle mechanic; A CNC programmer, and an electrical engineer. I've been street-cast for a runway fashion show, built camera equipment, and ridden my bicycle alone for thousands of miles in the wilderness. I currently live in Fairbanks, Alaska, where I am available for hire.
                </p>
                </div>
            </div>
        </div>
    </section>