
<section id="portfolio">
    <!-- Portfolio Grid Section -->
    <section id="design_fab" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Design and Fabrication</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}                    
                    {% if post.category == 'design_fab' %}
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                    <p>{{ post.caption }}</p>
                                    </div>
                                </div>
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</section>