<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

    {% include about.html %}

    {% include portfolio_project.html %}
    {% include portfolio_design_fab.html %}
    {% include portfolio_photo.html %}

    {% include contact.html %}

    {% include testing.html %}

    {% include modals.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>